@keyframes pulse{
  0%{background-color:white;}
  5%{background-color: red;}
  50%{background-color: white;}
}



div#one{
  background-color: black; 
  margin: auto; 
  border-radius: 100%; 
  height: 500px; 
  width: 500px; 
}
div#two{
  background-color: white; 
  margin: auto; 
  border-radius: 100%; 
  height: 450px; 
  width: 450px; 
  position: relative; 
  top: 25px; 
}
div#two.forward{
  animation-name: pulse; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;

}

div#two.back{
  animation-name: pulse; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-delay: 4s; 
}

div#three{
  background-color: black; 
  margin: auto; 
  border-radius: 100%; 
  height: 400px; 
  width: 400px; 
  position: relative; 
  top: 25px;  
}
div#four{
  background-color: white; 
  margin: auto; 
  border-radius: 100%; 
  height: 350px; 
  width: 350px; 
  position: relative; 
  top: 25px; 
}
div#four.forward{
  animation-name: pulse; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-delay: 1s;
}


div#four.back{   
  animation-name: pulse; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

div#five{
  background-color: black; 
  margin: auto; 
  border-radius: 100%; 
  height: 300px; 
  width: 300px; 
  position: relative; 
  top: 25px; 
}

div#six{
  background-color: white; 
  margin: auto; 
  border-radius: 100%; 
  height: 250px; 
  width: 250px; 
  position: relative; 
  top: 25px; 
}
div#six.forward{ 
  animation-name: pulse; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-delay: 2s;
} 
div#six.back{
  animation-name: pulse; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-delay: 2s; 
}

div#seven{
  background-color: black;; 
  margin: auto; 
  border-radius: 100%; 
  height: 200px; 
  width: 200px; 
  position: relative; 
  top: 25px; 
}

div#eight{
  background-color: white; 
  margin: auto; 
  border-radius: 100%; 
  height: 150px; 
  width: 150px; 
  position: relative; 
  top: 25px; 
}
div#eight.forward{
  animation-name: pulse; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-delay: 3s; 
}
div#eight.back{
  animation-name: pulse; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-delay: 1s;
} 


div#nine{
  background-color: black; 
  margin: auto; 
  border-radius: 100%; 
  height: 100px; 
  width: 100px; 
  position: relative; 
  top: 25px; 
}


div#ten{
  background-color: white; 
  margin: auto; 
  border-radius: 100%; 
  height: 35px; 
  width: 50px; 
  position: relative; 
  top: 25px; 
  text-align: center;
  padding-top: 15px;  
}
div#ten.forward{ 
  animation-name: pulse; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  animation-delay: 4s; 
}
div#ten.back{
  animation-name: pulse; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
}


